@import '_fonts';

:host {
    width: 327px;
    height: 248px;
    border-radius: 8px;
    padding: 30px 24px;
    background: $magent-verydark;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    .description {
        flex: 0 1 20%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        
        &__right{
            flex: .8 1 auto;
            display: flex;
            flex-direction: column;
            
            ::ng-deep .name {
                @include buyer($weight: 700, $color: $white);
                margin-bottom: 4px;
            }
            
            .verified {
                @include buyer($color: $pink-soft);
                margin-top: 4px;
            }
        }
    
    }

    ::ng-deep .info {
        @include buyer($weight: 500, $color: $white);
        flex: 0 1 80%;
        width: 100%;
        line-height: 2;
    }
}