@import '_fonts';

:host {
    width: 327px;
    height: 78px;
    border-radius: 8px;
    background: $magent-grayish-light;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: center;

    @media screen and (min-width: 1024px) {
        width: 445px;
        height: 56px;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    .stars {
        flex: 0 1 30%;
        margin: auto;

        @media screen and (min-width: 1024px) {
            margin-left: 10%;
        }
    }

    .review {
        @include review;
        flex: 0 1 100%;
    }
}