@import '_colors';

@mixin moreSize($size, $moreSize: 4px, $lineHeight: normal) {
    @media screen and (min-width: 415px) and (max-width: 1023px) and (orientation:portrait) {
        font-size: calc(#{$size} + #{$moreSize});
        line-height: $lineHeight;
    }
}

@mixin title {
    color: $magent-verydark;
    font-size: 32px;
    font-weight: 700;
    text-align: center;

    @media screen and (min-width: 415px) and (max-width: 1023px) and (orientation:portrait) {
        font-size: 34px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 48px;
        text-align: start;
    }
}

@mixin subtitle{
    color: $magent-grayish-dark;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 2;

    @media screen and (min-width: 1024px) {
        font-size: 15px;
        text-align: start;
    }
}

@mixin review($size: 13px, $color: $magent-verydark) {
    color: $color;
    font-size: $size;
    font-weight: 700;
    text-align: center;
    @include moreSize($size, $lineHeight: 1.2);
}

@mixin buyer($size: 13px, $color: $white, $weight: 500, $lineHeight: normal) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    text-align: start;
    line-height: $lineHeight;
    @include moreSize($size, $moreSize: 2px);
}