@import '_colors';

@mixin moreSize($size, $moreSize: 4px, $lineHeight: normal) {
    @media only screen and (min-width: 375px) and (max-width: 1024px) and (orientation:portrait) {
        font-size: calc(#{$size} + #{$moreSize});
        line-height: $lineHeight;
    }
}

@mixin title($size: 32px, $color: $magent-verydark) {
    color: $color;
    font-size: $size;
    font-weight: 700;
    text-align: center;
    @include moreSize($size: $size, $moreSize: 2px)
}

@mixin subtitle($size: 15px, $color: $magent-grayish-dark) {
    color: $color;
    font-size: $size;
    font-weight: 500;
    text-align: center;
    @include moreSize($size: $size, $lineHeight: 2)
}

@mixin review($size: 13px, $color: $magent-verydark) {
    color: $color;
    font-size: $size;
    font-weight: 700;
    text-align: center;
    @include moreSize($size,$lineHeight: 1.2);
}

@mixin buyer($size: 13px, $color: $white, $weight: 500) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    text-align: start;
    @include moreSize($size, $moreSize: 2px, $lineHeight: 1.6);
}